body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Establece la altura mínima del body al 100% de la altura de la ventana */
  background-image: url("../img/mundo-pokemon-mejorado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  background-color: #ee1010;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  nav {
    justify-content: space-between;
  }
  .favs {
    height: 50vh;
  }
}

.logo1,
.logo2 {
  height: 80px;
  width: auto;
}

.star {
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 2px black; /* Contorno con 2 píxeles de ancho, color negro */
  text-decoration: none;
}
.star:hover,
.star:active,
.star:focus {
  transform: scale(1.05);
  color: gold;
}
.active {
  transform: scale(1.05);
  color: gold;
}

@media (max-width: 768px) {
  .logo2 {
    margin: auto;
  }
}

.content {
  flex: 1; /* Permite que el contenido principal crezca para ocupar todo el espacio restante */
  padding: 50px; /* Añade espacio alrededor del contenido principal */
}
.search-box {
  background-color: rgb(251, 247, 244, 0.8);
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  min-width: 20rem;
  max-width: 40rem;
}
.search-box.no-results {
  height: 60vh;
  width: 40%;
  padding: 4px;
}
@media (max-width: 768px) {
  .search-box {
    width: auto;
  }
  .search-box.no-results {
    width: auto;
  }
}

.notfound {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(251, 247, 244, 0.8);
  margin: 10px auto;
  border-radius: 20px;
  padding: 30px;
}

.img-color {
  background-color: rgb(251, 247, 244, 0.8);
}

#pokemonInput {
  height: 60px;
  width: 300px;
  text-align: center;
}
.results {
  border-radius: 20px;
}

.card {
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(
    1.05
  ); /* Ajusta el tamaño al pasar el ratón sobre la tarjeta */
}

.card-body {
  text-align: center;
}

.unti .star {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 24px;
}

.btn-primary {
  width: 300px;
}
.pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}
.pagination a {
  text-decoration: none;
  border: 2px solid black;
  background-color: green;
  margin: auto;
  transform: transition 0.3s;
}
.pagination a:hover {
  transform: scale(1.1);
}

.current {
  color: white;
  text-align: center;
}

footer {
  padding: 40px; /* Ajusta el margen superior para separar el footer del contenido principal */
  position: relative;
  width: 100%;
  bottom: 0px;
}

@media (max-width: 768px) {
  .notfound {
    width: auto;
    height: auto;
    text-align: center;
  }
  .img-pok {
    width: 70%;
    height: 50%;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 20px; /* Reduce el espacio alrededor del contenido principal en dispositivos móviles */
  }

  .search-box {
    width: 100%;
    padding: 10px; /* Reduce el espacio interno de la caja de búsqueda en dispositivos móviles */
  }
  .search-box.no-results {
    height: auto; /* Ajusta la altura automáticamente en dispositivos móviles */
    width: 100%;
  }

  .card {
    width: calc(
      100% - 20px
    ); /* Ajusta el ancho de la tarjeta en dispositivos móviles */
    margin: 10px auto; /* Añade espacio entre las tarjetas */
  }

  .card-body {
    padding: 10px; /* Reduce el espacio interno del cuerpo de la tarjeta en dispositivos móviles */
  }

  .carousel-inner img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes del carrusel */
    height: auto; /* Permite que la altura de las imágenes se ajuste automáticamente */
  }

  .pagination {
    width: 100%; /* Ajusta el ancho de la paginación para que ocupe todo el ancho disponible */
    margin: 20px 0; /* Añade espacio entre la paginación y las tarjetas */
  }

  .card-title {
    font-size: 1.2em; /* Ajusta el tamaño del título de la tarjeta para dispositivos móviles */
  }

  .card-text {
    font-size: 0.9em; /* Ajusta el tamaño del texto de la tarjeta para dispositivos móviles */
  }
}
